body{background-color:white;}
h1{color:pink;
text-align:center;
font-size:60px;
font-family:futura;
font-style:italic;}
h2{color:purple;
font-size:35px;
font-family:futura;
text-indent:50px;}
p{color:orange;
font-size:21px;
text-indent:0px;}
h3{color:purple;
font-size:35px;
font-family:futura;
text-indent:50px;}
p{color:orange;
font-size:21px;
text-indent:0px;
font-family:futura;}
h4{color:purple;
font-size:35px;
font-family:futura;
text-indent:50px;}