  body {background-color: rgb(255, 232, 192);
}
h1 {font-family: 'Playfair Display', serif;
font-size: 72px;
font-weight: 900;
text-align: center;
color: rgb(255, 232, 192);
}
p{font-family: 'Playfair Display', serif;
text-align: center;
font-size: 30px;
color: rgb(131, 88, 194);
margin-top: 5em;
margin-right: 20em;
margin-bottom: 6em;
margin-left: 20em;
}
#header {
	background-position: center center;
	background-color: #8FE5B9;
	background-size:cover;
	padding-top: 7em;
	padding-bottom: 2em;
	margin-top: 10em;
}
#oml {
	position: absolute;
	top: 0;
	right: 0;
}
#omr {
	position: absolute;
	top: 0;
	left: 0;
}
#pink {
	background-position: center center;
	background-color: rgb(255, 159, 222);
	background-size:cover;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 0;
}
h2 {
	font-family: 'Playfair Display', serif;
	font-size: 60px;
	font-weight: 900;
	text-align: center;
	color: rgb(255, 232, 192);
}
#album {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 30px;
	color: rgb(131, 88, 194);
}
#album > ul {
	display: inline-block;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  #blue {
  	background-position: center center;
	background-color: rgb(21, 171, 178);
	background-size:cover;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 0;
  }
 #band {
  	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 30px;
	color: rgb(131, 88, 194);
  }
 #band > ul {
  	display: inline-block;
  }
  h3 {
  	font-family: 'Playfair Display', serif;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	color: rgb(143, 229, 185);
  }
  footer {font-family: 'Playfair Display', serif;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	color: rgb(255, 232, 192);
  }
